body {
    font-family: sans-serif;
  }
  .accordion .title {
    display: flex;
    background-color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s linear;
  }
  .accordion .title:after {
    content: "+";
    margin-left: auto;
  }
  .accordion .title.active:after {
    content: "-";
  }
  .accordion .title.active,
  .accordion .title:hover {
    background-color: #ddd;
  }
  .accordion .content {
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    border: 1px solid whitesmoke;
    transition: height 0.6s ease-in-out;
  }
  .accordion .content.is-open {
    height: auto;
    overflow: visible;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  